@font-face {
    font-family: 'poppins';
    src: url('/styles/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('/styles/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_displayregular';
    src: url('/styles/fonts/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
         url('/styles/fonts/playfairdisplay-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins_light';
    src: url('/styles/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('/styles/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}
header {
	margin-top: 20px;
	background-color: #ffe6e6;
}
header .row {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}
header h1 {
	display: flex;
	padding-top: 8px;
	font-family: 'poppins';
	justify-content: center;
	margin: 0;
}
header nav {
	display: flex;
}
header .nav-right {
	justify-content: flex-end;
}
header .nav-left {
	justify-content: flex-start;
}
header p {
	font-family: 'playfair_displayregular';
	padding: 0 10px;
	font-size: 100%;
}