header {
	padding: 10px;
	margin: 5px;
	background-color: #ffe6e6;
}
header .row {
	display: flex;
	align-items: center;
	padding: 5px;
}
header h1 {
	justify-content: flex-start;
	font-weight: 600;
	padding: 5px;
	margin: 0;
}
header nav {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
	margin: 0;
}
header p {
	padding: 0 20px;
	margin: 0;
}