@font-face {
	font-family: "poppins";
	src: url("/styles/fonts/poppins-medium-webfont.woff2") format("woff2"),
		url("/styles/fonts/poppins-medium-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "playfair_displayregular";
	src: url("/styles/fonts/playfairdisplay-variablefont_wght-webfont.woff2")
			format("woff2"),
		url("/styles/fonts/playfairdisplay-variablefont_wght-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "poppins_light";
	src: url("/styles/fonts/poppins-light-webfont.woff2") format("woff2"),
		url("/styles/fonts/poppins-light-webfont.woff") format("woff");
	font-weight: lighter;
	font-style: normal;
}
body {
	background-color: #fcf6fa;
}
header {
	margin-top: 5px;
}
header .row {
	display: flex;
	flex-direction: row;
	align-items: flex-center;
	justify-content: space-between;
}
header h2 {
	display: flex;
	padding-top: 5px;
	font-family: "poppins_light";
	justify-content: center;
	margin: 0;
	color: black;
}
header nav {
	display: flex;
}
header .nav-left {
	justify-content: flex-start;
	align-items: center;
}
header a.nav-link {
	font-family: "playfair_displayregular";
	font-size: 18px;
	padding-top: 10px;
	padding-right: 15px;
	color: black;
}
header .nav-right {
	justify-content: flex-end;
	align-items: center;
}
header a.button {
	padding-top: 10px;
	padding-left: 15px;
	margin: 5px 5px 10px 15px;
	height: 27px;
}
header .github {
	background-image: url("/images/github_mark.png");
	width: 27px;
}
header .linkedin {
	background-image: url("/images/linkedin_mark.png");
	width: 32px;
}
header .twitter {
	background-image: url("/images/twitter_mark.png");
	width: 33px;
}
section.jumbotron {
	display: flex;
	height: auto;
	padding: 2em;
	align-items: center;
}
.jumbotron.about {
	background-color: #d79ed8;
}
.jumbotron.skills {
}
section header {
	display: flex;
	padding: 1em;
	font-family: "poppins";
	text-align: center;
}
section section .row {
	margin: 2em;
}
section section img.picture.me {
	height: 20em;
	width: auto;
}
section section img.picture.workspace {
	width: 25em;
	height: auto;
}
section section .content {
	align-items: flex-start;
	font-family: "poppins_light";
	margin: 0 1em 0 0;
	color: black;
}
section section .content h2 {
	font-family: "playfair_displayregular";
}
section section .content p {
	text-align: justify;
}
section section .content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
section section .content li {
	margin: 1em 0 0 0;
}
